@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

@custom-variant dark (&:is(.dark *));

:root {
  /* color scheme - use these vars as tailwind classes */
  /* light theme */
  --bg-light-100: #ffffff;
  --bg-light-200: #f8fafc;
  --border-light: #e2e8f0;
  --text-light-primary: #020618;
  --text-light-secondary: #45556c;
  --text-light-disabled: #a1a1a1;
  --text-light-inverse: #ffffff;

  /* dark theme */

  /* globals */
  --game-correct: #00c951;
  --game-present: #fcc800;
  --game-absent: #d9d9d9;
  --accent: #432dd7;
  --accent-secondary: #a3b3ff;
  --warning: #fb2c36;

  --sans: "Inter", Roboto, sans-serif;
  --title: "Crete Round", serif;

  font-size: 16px;
  color: #111111;
  font-weight: 500;
  letter-spacing: 0.18px;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--sans);
}

@theme inline {
  --color-light-100: var(--bg-light-100);
  --color-light-200: var(--bg-light-200);
  --color-light: var(--border-light);
  --color-light-primary: var(--text-light-primary);
  --color-light-secondary: var(--text-light-secondary);
  --color-light-disabled: var(--text-light-disabled);
  --color-light-inverse: var(--text-light-inverse);

  /* dark theme */

  /* globals */
  --color-game-correct: var(--game-correct);
  --color-game-present: var(--game-present);
  --color-game-absent: var(--game-absent);
  --color-accent: var(--accent);
  --color-accent-secondary: var(--accent-secondary);
  --color-warning: var(--warning);

  /* typography */
  --font-title: var(--title);

  /* breakpoint */
  --breakpoint-xl: 90rem; /* 1440px */
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
    background-color: transparent;
  }

  50% {
    transform: rotateX(70deg);
    background-color: transparent;
  }

  100% {
    transform: rotateX(0deg);
    background-color: var(--flip-color);
  }
}

.animate-flip {
  animation: flip 500ms ease forwards;
}
